/* General Body Styles */
body, html {
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column; /* Changed to column to stack items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Center the content vertically */
    background: linear-gradient(to right, #602366, #b33e3e);
    color: #fff; /* White text for better visibility on dark background */
    overflow-y: auto;
}

/* Container for centering the content */
.container {
    position: relative;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly transparent black for the inner container */
    border-radius: 20px; /* Rounded corners */
}

/* Header styles */
header h1 {
    color: #09c5d3; /* A bright accent color */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 48px;
    font-weight: bold;
}

/* Main section styles */
main {
    margin-top: 10px;
}

#guessSection {
    position: relative; /* Set the parent's position to relative */
    width: 80%; /* Adjust the width as necessary */
    margin: auto; /* Center the section if needed */
}

/* Input and buttons styles */
#guessInput, #guessButton {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

#guessInput {
    width: 100%; /* Make input take full width of its parent */
    padding: 10px;
    font-size: 1em;
}

#guessButton {
    background-color: #4893c5; /* Blue button */
    color: white;
    cursor: pointer;
}

#guessButton:hover {
    background-color: #2b6992; /* Darker blue on hover */
}

.guess-count {
    position: absolute;
    top: 20px;  /* Increase to see if it appears */
    right: 20px;  /* Increase if it is hidden behind some other element */
    color: #5db6ff;  /* Make sure this color is visible against the background */
    font-size: 16px;
    z-index: 200;  /* Increase z-index to ensure it's not behind other elements */
}

.victory-count {
    position: absolute;
    top: 40px;
    right: 20px;
    color: #3a9e50;
    font-size: 16px;
    z-index: 200;
}

.feedback {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full-width to spread across the container */
    margin-top: 20px; /* Space from the guess section */
}

.dev-info {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    color: #333;
    z-index: 200; /* Ensures it's above other content */
}

.info-box {
    flex-grow: 1; /* Grow to fill the space evenly */
    margin: 0 10px; /* Space between boxes */
    padding: 10px;
    background-color: #3f4752cc; /* Default color, will change based on feedback */
    text-align: center;
    border-radius: 10px;
}

/* Suggestions box styling */
.suggestions {
    position: absolute;
    top: 110%; /* Position directly below the input box */
    left: 0;
    right: 0;
    background-color: #323555;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 15px;
    display: none; /* Initially hidden */
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.suggestions div:last-child {
    border-bottom: none;
}

.suggestions div:hover {
    background-color: #2c3e50;
}

.game-message {
    color: #09ad84; /* Red text color for visibility */
    margin: 10px 0; /* Spacing for better layout */
    font-size: 16px; /* Appropriate font size */
}

/* Footer styles */
footer {
    margin-top: 20px;
    font-size: 0.8em;
}

/* Guess history styles */
.guess-history {
    position: absolute; /* Position it relative to the nearest positioned ancestor (body) */
    top: 70vh; /* Start directly below the viewport */
    width: 90%;
    max-width: 600px;
    max-height: 200vh;
    padding: 20px;
    margin: 0 auto; /* Center it horizontally */
}

.guess-history div {
    background: #585e6e;  /* Light background for each guess */
    border: 1px solid #ddd;  /* Border around each guess */
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;  /* Space between each history entry */
}

.info-box {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 5px;
}

.how-to-play-btn {
    position: fixed;
    top: 10px;
    left: 10px; /* Adjust based on your layout */
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.how-to-play-btn:hover {
    background-color: #2c71a0;
}

.how-to-play-container {
    display: block; /* Changed from none to block */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background: linear-gradient(to right, #9135ad, #592a8f);
    color: white;
    padding: 10px;
    border-radius: 10px;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; /* Smooth transition for opacity and visibility */
}

.close-btn {
    float: right;
    border: none;
    background: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #e74c3c;
}