/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    text-align: center;
}
#title {
    margin-bottom: 20px;
}
.info-boxes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}
.info-box {
    width: 18%;
    padding: 10px;
    background-color: gray; /* Default color */
}
#guessInput {
    font-size: 1.5em;
    padding: 10px;
    width: 50%;
}
